body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

.skills-header {
	display: flex;
	justify-content: center;
	margin: 2rem 0;

}

.border-dashed { --bs-border-style: dashed; }

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

@media (min-width: 1400px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
	.display-5 {
		font-size: 3rem;
	}
	.fs-4 {
		font-size: 1.5rem!important;
	}
	.card-deck, .project-col {
		padding: 1.5rem;
		margin-right: 0;
		margin-left: 0;
		border-width: 0.2rem;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
	}
}

@media (min-width: 576px) {
	.card-deck>.card {
		-webkit-box-flex: 1;
		-ms-flex: 1 0 0%;
		flex: 1 0 0%;
		margin-bottom: 0;
	}
}

.card-img-top {
    width: 100%;
    max-width: 150px;
    display: inline-block;
    justify-content: center;
}

.proj-img {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 300px;
    
}

.card-deck {
    display: flex;
	position: relative;
    margin: 1rem 20rem 1rem;
}

.project-col {
    display: flex;
	position: relative;
    margin: 1rem 20rem 0;
    border: solid #f7f7f9;
}

.card {
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

*, ::after, ::before {
    box-sizing: border-box;
}


.b-example-divider {
	width: 100%;
	height: 3rem;
	background-color: rgba(0, 0, 0, .1);
	border: solid rgba(0, 0, 0, .15);
	border-width: 1px 0;
	box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
	flex-shrink: 0;
	width: 1.5rem;
	height: 100vh;
}

.bi {
	vertical-align: -.125em;
	fill: currentColor;
}

.nav-scroller {
	position: relative;
	z-index: 2;
	height: 2.75rem;
	overflow-y: hidden;
}

.nav-scroller .nav {
	display: flex;
	flex-wrap: nowrap;
	padding-bottom: 1rem;
	margin-top: -1px;
	overflow-x: auto;
	text-align: center;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
	--bd-violet-bg: #712cf9;
	--bd-violet-rgb: 112.520718, 44.062154, 249.437846;

	--bs-btn-font-weight: 600;
	--bs-btn-color: var(--bs-white);
	--bs-btn-bg: var(--bd-violet-bg);
	--bs-btn-border-color: var(--bd-violet-bg);
	--bs-btn-hover-color: var(--bs-white);
	--bs-btn-hover-bg: #6528e0;
	--bs-btn-hover-border-color: #6528e0;
	--bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
	--bs-btn-active-color: var(--bs-btn-hover-color);
	--bs-btn-active-bg: #5a23c8;
	--bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
	z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
	display: block !important;
}

.form-control-dark {
	border-color: var(--bs-gray);
}
.form-control-dark:focus {
	border-color: #fff;
	box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
	font-size: 85%;
}

.dropdown-toggle:not(:focus) {
	outline: 0;
}

.card-deck {
	display: flex;
}

.border-bottom {
	display: flex;
	padding-bottom: 2rem;
}

.p-5 {
    margin-bottom: 2rem;
}